.mt3{
	margin-top:3em;
}

.lrBorderVisible{
	width:100%;
	border-right-width:1px;
	border-left-width:1px;
}

.text-nav-center{
	margin-top:0.7em;
}

.w-100 {
	width:100%;
}

.popovers .popover-content{
	width:14em;
}

.mt-point-5{
	margin-top:0.5em;
}

.bottom-border{
	border-bottom: 1px solid black;
}

.time-and-status-info{
	margin: 0.4em 0px important;
	font-size:1.2rem important;
}